.country{

    border: 2px solid rgb(230, 82, 82);
    background-color: rgb(189, 179, 179);
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
    height: 350px;
}
.country img{

    width: 200px;
}